
@{
    ViewData["Title"] = "ExcelExportDatabase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ExcelExportDatabase</h1>
<br/>
<a href="/Admin/Blog/ExcellExportDynamicBlogList/" class="btn btn-primary">Excelde Listesini Indir</a>
