
<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Orkh@n.az @DateTime.Now.Year</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https:" target="_blank">Ork@n.az admin templates </a> from Orkh@n.az</span>
    </div>
</footer>